.faq-component{
  height: 100%;
  width: 100%;

  .congrats-block{
    width: 100%;
    color: white;
    position: absolute;
    top: 35%;
    .complete-text{
      font-size: 0.6em;
      font-family: 'Montserrat-Semibold';
    }
    .congrats-text{
      font-family: 'Montserrat-Black';
      font-size: 2em;
    }
    .congrats-text-2{
      font-family: 'Montserrat-Semibold';
      font-size: 1em;
      padding-top: 15px; 
      @media screen and (max-device-height: 570px) {
        padding-top:0px;
      }
    }
    .lost-text{
      font-family: 'Montserrat-Semibold';
    }
    .won-text{
      font-family: 'Montserrat-Black';
      font-size: 2em;
      @media screen and (max-device-height: 641px) {
        font-size: 1.5em;
      }
    }

    .check-back{
      font-family: 'Montserrat-Semibold';
      width: 70%;
      height:10%;
      background-color: #A057AB;
      margin-left: 15%;
      padding: 12px;
      border-radius: 8px 0 8px 0;
      span {
        font-family: 'Montserrat-Black';
      }
    }
  }

  .app-block{
    font-family: 'Montserrat-Semibold';
    width: 100%;
    position: absolute;
    bottom: 17%;
    margin-left: 5%;
    @media screen and (max-device-height: 570px) {
      bottom:15%;
    }
    @media screen and (min-device-height: 700px) {
      bottom:19%;
    }
    .apps{
      width: 90%;
      height: 20%;
      display: flex;
      overflow: auto;
      white-space: nowrap;
      .app{
        width: 40%;
        margin: 5px;
      }
    }
  }

  .engage-link{
    font-family: 'Montserrat-Semibold';
    color: white;
    position: fixed;
    bottom: 11%;
    width: 100%;
    @media screen and (max-device-height: 570px) {
      bottom:10%;
    }
  }

  .banner-add{
    // position: absolute;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #5D1369;
  }

}