@font-face {
  font-family: 'jio-medium';
  src: url('/assets/fonts/jio/JioType-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'jio-light';
  src: url('/assets/fonts/jio/JioType-Light.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'jio-bold';
  src: url('/assets/fonts/jio/JioType-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'jio-black';
  src: url('/assets/fonts/jio/JioType-Black.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat-Extrabold';
  src: url('/assets/fonts/g-fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat-medium';
  src: url('/assets/fonts/g-fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('/assets/fonts/g-fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/assets/fonts/g-fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat-Semibold';
  src: url('/assets/fonts/g-fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('/assets/fonts/g-fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('/assets/fonts/g-fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 400;
}